.login-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding-top: 3rem;
    padding: 2rem;
}
  
.login-icon {
    font-size: 14px;
    padding:0px;
}
 
.login-title {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 0.15rem;
    background-color: white;
    border: 1px solid gray;
    color: black;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
}

.input-remember {
    display: flex;
}
  
.form-check-label {
    margin-left: 0.25rem;
}
  
.login-padding {
    padding-top: 3em;
    height: 80vh;
}

.login-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}
